@font-face {
    font-family: 'TT Norms Pro Mono Trl';
    src: url('assets/TTNormsProMonoTrl-Rg.woff2') format('woff2'),
        url('assets/TTNormsProMonoTrl-Rg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'TT Norms Pro Mono Trl';
    text-transform: uppercase;
    font-size: 0.9rem;
    padding: 1rem;
    margin: 0;

    height: 100vh;
    position: relative;

    background-color: #F6D3D3;
    background-image: url('https://raw.githubusercontent.com/haleywithers/etch-a-sketch/refs/heads/main/assets/Etch-a-sketch.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}

p {
    margin: 0;
}

.flex-row {
    display: flex;
}


.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.choice {
    display: flex;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 1.5rem;

    width: 2.5rem;
    height: 2.5rem;

    cursor: pointer;
}

.clear {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-family: 'TT Norms Pro Mono Trl';
    font-size: 0.9rem;
    text-transform: uppercase;
}

.black {
    background-color: black;
}

.grey {
    background-color: gray;
}

.rainbow {
    background: #F6D3D3;
    background: linear-gradient(254deg, rgba(246, 211, 211, 1) 0%, rgba(103, 31, 44, 1) 29%, rgba(241, 107, 48, 1) 57%, rgba(220, 207, 191, 1) 83%, rgba(38, 34, 33, 1) 100%);
}

.canvas {
    width: 35vw;
    height: 35vw;
    
    gap: 1px; 
    background-color: black; 
    padding: 1px; 

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 1;

    display: grid;
    gap: 1px;
    background-color: black;
    padding: 1px;
}

.grid-box {
    box-sizing: border-box;
    background-color: white;
    min-width: 0;
    min-height: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/*Tablets*/

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .canvas {
        width: 75vw;
        height: 75vw;
    }
}

/*Mobile*/

.mobile-controls {
    display: none;
}

@media screen and (max-width:767px) {
    .mobile-controls {
        display: flex;
        justify-content: space-between;
    }

        .options {
        display: none;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        background: white;
        padding: 1rem;
        flex-direction: column;
        z-index: 10;
    }
    
    .options.active {
        background-color: #F6D3D3;
        border-bottom: 1px solid black;

        padding: 1rem 0;
        margin: 0 1rem;
        
        display: flex;
        align-items: flex-start;
        row-gap: 1.5rem;
    }

    .choice {
        width: 2rem;
        height: 2rem;
    }

    .clear-desktop {
        display: none;
    }

    .settings-toggle, .clear-button {
        background-color: transparent;
        border: none;
        font-family: 'TT Norms Pro Mono Trl';
        font-size: 0.9rem;
        text-transform: uppercase;
    }

    .canvas {
        width: 90vw;
        height: 90vw;
    }
}